.my-about {
  display: flex;
  flex-direction: column;
}

.my-about .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 80px;
}
/* style="background: linear-gradient('135deg', '#3023AE 0%', '#C86DD7 100%')" */
.about-title {
  margin: 120px 0 57px 0;
}
.about-DAo {
  /* text-align: center; */
  margin-bottom: 20px;
  line-height: 30px;

}
.my-about .info{
  font-size: 20px;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #000000;
  line-height: 30px;
  width: 100%;
}
.my-about .introduce2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #000000;
  line-height: 30px;
  width: 100%;

}
.my-about .introduce{
  line-height: 50px;
}
.my-about .introduce div:nth-of-type(1){
  text-align: center;
}

.my-about .character{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;
    box-sizing: border-box;
    margin-top: 50px;
}
.my-about .character-item{
  width: 366px;
  height: 160px;
  border-radius: 10px;
  border: 3px solid #F7F4FC;
  margin-right: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  padding: 0 45px;
  box-sizing: border-box;
}
.my-about .character-item img{
  width:100px;
  height: 100px;
  margin-right: 20px;
}
.my-about .investors{
  margin-top: 280px;
 
}

.my-about .investors .title{
  font-size: 32px;
  font-family: Poppins-Bold, Poppins;
  font-weight: bold;
  color: #000000;
  line-height: 48px;
  text-align: center;
  margin-bottom: 56px;
}
.wrap-investors-item {
  width: 271px;
  height: 121px;
  background: #FFFFFF;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  margin-right: 40px;
  margin-bottom: 30px;
}
.investors-item{
  display: flex;
  /* width: 292px; */
  height: 121px;
  background: #FFFFFF;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 40px;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: -10px;
  left: -10px
}

.investors-item img {
  width:  60px;
  height: 60px;
  margin-right: 20px;

}
.investors-item-desc {
  font-size: 14px;
  font-family: Poppins-Medium, Poppins;
  color: #3023AE;
  line-height: 20px;
  /* word-wrap: break-word; */
  /* word-break: break-all; */
  font-weight: bold;
  margin-bottom: 0;

}
.my-about .investors-content{
  display: flex;
  flex-wrap: wrap;
}

.my-about .level{
  margin: 40px 0 126px 0px;
  padding-left: 80px;
  box-sizing: border-box;
}
.my-about .level-top-bg {
  height: 73px;
  border-radius: 20px 0 0 20px;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%)
}
.wrap-level-top {
  background: rgb(252,245,254);
  width: 720px;
  height: 100%;
  border-radius: 20px;

}
.my-about  .level-top {
  width: 720px;
  height: 100%;
  border-radius: 20px;
  background: transparent;
  position: relative;
}

.my-about  .level-top .dashed {
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #9B9B9B, #9B9B9B 5px, transparent 5px, transparent);
  background-size: 100% 10px;
  position: absolute;
  z-index: 100;
}


.my-about .level-bottom{
  width: 720px;
  display: flex;
  position: relative;
}
.my-about .level-bottom li{
  display: flex;
  width: 2px;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.my-about .level-bottom strong {
  white-space: nowrap;
} 
.my-about .level-bottom li span {
  white-space: nowrap;
  position: absolute;
  bottom: -25px;

}

.my-about .level-bottom li img{
  width:48px;
  height:50px;
  position: absolute;
  bottom: -80px;
}

.about-bottom{
  margin-top:325px;
  margin-left: 81px;
}

.character-item-desc {
  font-size: 20px;
  font-family: Poppins-Medium, Poppins;
  color: #000000;
  line-height: 24px;
  word-wrap: break-word;
  word-break: break-all;
  font-weight: bold;
}