

.my-about .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-title {
  margin: 120px 0 57px 0;
}
.about-DAo {
  text-align: center;
}
.my-about .info{
  font-size: 20px;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #000000;
  line-height: 30px;
  width: 100%;
}
.my-about .introduce{
  line-height: 50px;
}
.my-about .introduce div:nth-of-type(1){
  text-align: center;
}

.my-about .character{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}
.my-about .character-item{
  width: 366px;
height: 160px;
border-radius: 10px;
border: 3px solid #F7F4FC;
margin-right: 20px;
margin-bottom: 40px;
display: flex;
align-items: center;
}
.my-about .character-item img{
  width:100px;
  height: 100px;
  margin: 30px 50px;
}
.my-about .investors{
  margin-top: 280px;
  padding-left: 80px;
}

.my-about .investors .title{
font-size: 32px;
font-family: Poppins-Bold, Poppins;
font-weight: bold;
color: #000000;
line-height: 48px;
text-align: center;
margin-bottom: 56px;
}

.my-about .investors-item{
  display: flex;
  width: 292px;
height: 121px;
background: #FFFFFF;
box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.my-about .investors-content{
  display: flex;
  flex-wrap: wrap;
}
.my-about .investors-item{
  margin-right: 30px;
  margin-bottom: 30px;
}
.my-about .level{
  margin-top: 40px;
  margin-bottom: 126px;
}
.my-about .level-bottom{
  display: flex;
}
.my-about .level-bottom li{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 94px;
}
.my-about .level-bottom li img{
  width:48px;
  height:50px
}

.about-bottom{
  margin-top:325px;
  margin-left: 81px;
}
.character,.level,.my-about .introduce p:nth-of-type(2),.introduce2{
  margin-left: 142px;
}
