.my-level{
  margin: 40px 0 126px 0px;
  box-sizing: border-box;
  width: 1130px;
}
.my-level .level-top-bg {
  height: 73px;
  border-radius: 20px 0 0 20px;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%)
}
.my-level .wrap-level-top {
  height: 73px;
  background: rgb(252,245,254);
  width: 1130px;
  border-radius: 20px;

}
.my-level  .level-top {
  border: 3px solid;
  border-color:linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
  height: 100%;
  width:  1130px;
  border-radius: 20px;
  display: flex;
  background: transparent;
  justify-content: space-between;

}

.my-level  .level-top .dashed {
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #9B9B9B, #9B9B9B 5px, transparent 5px, transparent);
  background-size: 100% 10px;
}
.my-level  .level-top .dashed:nth-of-type(1), .my-level  .level-top .dashed:nth-of-type(5) {
  width: 0;
}

.my-level .level-bottom{
  margin-top: 20px;
  display: flex;
  /* justify-content: space-between; */
}
.my-level .level-bottom li{
  margin-left: 190px;
  font-size: 16px;
  font-family: Poppins-Bold, Poppins;
  font-weight: bold;
  color: #000000;
  line-height: 25px;
}
.my-level .level-bottom li:nth-of-type(1) {
  margin-left: 0px;
}
.my-level .level-bottom li:nth-of-type(3) {
  margin-left: 220px;
}
.my-level .level-bottom li:nth-of-type(4) {
  margin-left: 240px;
}
.my-level .level-bottom li:nth-of-type(5) {
  margin-left: 180px;
}
.account-level-desc {
  font-size: 16px;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #000000;
  line-height: 24px;
}

