

.my-level.levels{
  margin: 0px 0 120px 0px;
  padding-left: 20px;
  box-sizing: border-box;
}
.my-level.levels .level-top-bg {
  height: 73px;
  border-radius: 20px 0 0 20px;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%)
}
.my-level.levels .wrap-level-top {
  background: rgb(252,245,254);
  width: 1100px;
  height: 100%;
  border-radius: 20px;

}
.my-level.levels .level-top {
  width: 1100px;
  height: 100%;
  border-radius: 20px;
  background: transparent;
  position: relative;
}

.my-level.levels .level-top .dashed {
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #9B9B9B, #9B9B9B 5px, transparent 5px, transparent);
  background-size: 100% 10px;
  position: absolute;
  z-index: 100;
}


.my-level.levels .level-bottom{
  /* width: 720px; */
  width: 1100px;
  display: flex;
  position: relative;
}
.my-level.levels .level-bottom li{
  display: flex;
  width: 2px;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.my-level.levels .level-bottom strong {
  white-space: nowrap;
} 
.my-level.levels .level-bottom li span {
  white-space: nowrap;
  position: absolute;
  bottom: -25px;

}