p {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  min-height: 100vmin;
  background: #FFF;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.applyBg {
  background: #000;
}

/* .appBg {
  background-image: url('./assets/img/background@2x.png'),url('./assets/img/pic@2x.png'),url('./assets/img/background3@2x.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right top ,right 100px  top 200px,right bottom 175px;
  background-size:1099px 1304px ,800px 800px,100% 800px;
}
.aboutBg {
  background: url('./assets/img/background4@2x.png');
    background-position: center bottom 162px;
    background-repeat: no-repeat;
    background-size: 100% 80%;
} */
.content {
  display: flex;
  justify-content: center;
  width: 1420px;
  flex-direction: column;

}




