p {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  min-height: 100vmin;
  background: #FFF;
  width: 100%;
  flex-direction: column;
  align-items: center;
 
}



.app-Home {
  background-image: url('https://daostarter.oss-cn-hangzhou.aliyuncs.com/background.png'),
  url('https://daostarter.oss-cn-hangzhou.aliyuncs.com/pic.png'),
    url('https://daostarter.oss-cn-hangzhou.aliyuncs.com/background2%402x.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right top , right top 154px, center bottom 175px;
    background-size:1350px 1304px,1099px 996px,1920px 1022px;
}
.app-about {
  background: url('https://daostarter.oss-cn-hangzhou.aliyuncs.com/background4%402x.png');
    background-position: center bottom 162px;
    background-repeat: no-repeat;
    background-size: 100% 2030px;
}
.content {
  display: flex;
  justify-content: center;
  width: 1420px;
  flex-direction: column;

}




